<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="/Assets/styles.css"/>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-bar"></div>
        <div class="cart">cart({{ cart }})</div>


<!--    product 1-->
    <div class="product-display">

        <div class="product-container">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">

                <h1>{{ product1 }}</h1>
                <p v-if="inventory > 10">In stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else>out of stock</p>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>

                <div v-for="variant in socksVariants"
                     :key="variant.id"
                     @mouseover="socksImageUpdate(variant.socksImage)"
                     class="color-circle"
                     :style="{backgroundColor:variant.color}">
                </div>

                <ul>
                    <li v-for="size in sizes">{{size.size}}</li>
                </ul>
                <button class="button" v-on:click="addToCart">Add to cart</button>

                <!-- solution -->
            </div>
        </div>
    </div>

<!--    product 2-->
    <div class="product-display">

        <div class="product-container">
            <div class="product-image">
                <img v-bind:src="image1">
            </div>
            <div class="product-info">

                <h1>{{ product }}</h1>
                <p v-if="onSale">On Sale</p>
                <p v-else>In stock</p>

            <div v-for="laptopVariant in laptopVariants"
                 :key="laptopVariant.id"
                 @mouseover="laptopImageUpdate(laptopVariant.laptopImage)"
                 class="color-circle"
                 :style="{backgroundColor:laptopVariant.color}">

            </div>

            </div>
        </div>
    </div>
</div>

<!-- Import App -->
<script src="./main.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>