<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="/Assets/styles.css"/>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-bar">
        <h1>Langats Store</h1>
    </div>


    <!-- Product: Socks -->
    <div class="cart">Cart ({{ cartCountSocks }})</div>
    <div class="product-display">
        <div class="product-container">
            <div class="product-image">
                <img :src="currentSocks.image" alt="Socks">
            </div>
            <div class="product-info">
                <h2>{{ socksTitle }}</h2>
                <p v-if="currentSocks.stock > 10">In Stock</p>
                <p v-else-if="currentSocks.stock > 0">Almost Sold Out!</p>
                <p v-else>Out of Stock</p>

                <p>{{ sockStock }}</p>


                <ul>
                    <li v-for="detail in socksDetails" :key="detail">{{ detail }}</li>
                </ul>

                <div v-for="(variant, index) in socksVariants"
                     :key="variant.id"
                     @mouseover="selectSocksVariant(index)"
                     class="color-circle"
                     :style="{ backgroundColor: variant.color }">
                </div>

                <ul>
                    <li v-for="size in availableSizes" :key="size.id">{{ size.value }}</li>
                </ul>

                <button class="button"
                        @click="addToCart('socks')"
                        :class="{ disabledButton: !currentSocks.stock }"
                        :disabled="!currentSocks.stock">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>

    <!-- Product: Laptops -->
    <div class="cart">Cart ({{ cartCountLaptop }})</div>
    <div class="product-display">
        <div class="product-container">
            <div class="product-image">
                <img :src="currentLaptop.image" alt="Laptop">
            </div>
            <div class="product-info">
                <h2>{{ laptopTitle }}</h2>
                <p v-if="currentLaptop.stock > 0">In Stock</p>
                <p v-else>Sold Out!</p>

                <div v-for="(variant, index) in laptopVariants"
                     :key="variant.id"
                     @mouseover="selectLaptopVariant(index)"
                     class="color-circle"
                     :style="{ backgroundColor: variant.color }">
                </div>

                <button class="button"
                        @click="addToCart('laptop')"
                        :class="{ disabledButton: !currentLaptop.stock }"
                        :disabled="!currentLaptop.stock">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>

     <!-- Product: phones -->
    <div class="cart">Cart ({{ cartCountPhone }})</div>
    <div class="product-display">
        <div class="product-container">
            <div class="product-image">
                <img :src="currentPhone.image" alt="Phone">
            </div>
            <div class="product-info">
                <h2>{{ phoneTitle }}</h2>
                <p v-if="currentPhone.stock > 10 ">In Stock</p>
                <p v-else-if="currentPhone.stock > 0 ">Almost Sold Out</p>
                <p v-else>Sold Out!</p>

                <div v-for="(variant, index) in phoneVariants"
                     :key="variant.id"
                     @mouseover="selectPhoneVariant(index)"
                     class="color-circle"
                     :style="{ backgroundColor: variant.color }">
                </div>

                <button class="button"
                        @click="addToCart('phone')"
                        :class="{ disabledButton: !currentPhone.stock }"
                        :disabled="!currentPhone.stock">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Import App -->
<script src="/Assets/main.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>